@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.btn-red {
    @apply bg-red-700 text-white font-bold py-2 px-2 rounded;
}
.btn-red:hover {
    @apply bg-red-800;
}

.btn-red-outline {
  @apply border border-red-700 text-red-700 font-bold py-2 px-2 rounded;
}
.btn-red-outline:hover {
  @apply bg-red-800 text-white;
}

.btn-red-large {
    @apply bg-red-700 text-white font-bold py-4 px-4 rounded;
}
.btn-red-large:hover {
    @apply bg-red-800;
}

.btn-red-large-outline {
    @apply border border-red-700 text-red-700 font-bold py-4 px-4 rounded;
}
.btn-red-large-outline:hover {
    @apply bg-red-800 text-white;
}

.btn-blue {
    @apply bg-blue-700 text-white font-bold py-2 px-2 rounded;
}

.btn-blue:hover {
    @apply bg-blue-800;
}

.btn-grey {
    @apply border-gray-400 border text-gray-700 font-bold py-2 px-2 rounded;
}
.btn-grey:hover {
    @apply bg-gray-900;
}


.loader {
    border: 4px solid #ffffff;
    border-top: 4px solid #C53030;
    border-right: 4px solid #C53030;
    border-radius: 50%;
    animation: spin 2s linear infinite;
  }
  
@keyframes spin {
  0% {
    transform: rotate(0deg); 
  }
  100% {
    transform: rotate(360deg); 
  } 
}

a {
  @apply text-red-700 border-b border-red-700
}

a:hover {
  @apply text-red-900 border-b border-red-900
}

p {
  @apply mt-4
}

h3 {
  @apply text-2xl mt-4 font-bold
}

h4 {
  @apply text-xl mt-4 font-bold
}

blockquote {
  @apply p-4 bg-gray-200 mt-4
}

ul {
  @apply mt-2
}
            

