@import "tailwindcss";
@import "@nuxt/ui";

/* Prevent pull-to-refresh and overscroll bounce on mobile */
html, body {
  overscroll-behavior: none;
}

/* Prevent iOS Safari auto-zoom on focus by keeping font size at 16px on mobile */
@media (max-width: 1023px) {
  * {
    font-size: 16px;
  }
}

/* Prevent long-press context menu on dithered/original images */
.no-touch-callout {
  -webkit-touch-callout: none;
}

.bg-grid {
  background-image:
    linear-gradient(to right, rgb(0 0 0 / 0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgb(0 0 0 / 0.05) 1px, transparent 1px);
  background-size: 20px 20px;
}

:is(.dark) .bg-grid {
  background-image:
    linear-gradient(to right, rgb(255 255 255 / 0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgb(255 255 255 / 0.05) 1px, transparent 1px);
  background-size: 20px 20px;
}

@media (hover: none) {
  .touch-visible {
    opacity: 1 !important;
  }
}

@theme static {
  --font-sans: 'Public Sans', sans-serif;

  --color-ditherit: #C53030;

  --color-green-50: #EFFDF5;
  --color-green-100: #D9FBE8;
  --color-green-200: #B3F5D1;
  --color-green-300: #75EDAE;
  --color-green-400: #00DC82;
  --color-green-500: #00C16A;
  --color-green-600: #00A155;
  --color-green-700: #007F45;
  --color-green-800: #016538;
  --color-green-900: #0A5331;
  --color-green-950: #052E16;
}
